﻿@using WebApplication4.Services.Interfaces
@model Car
@inject IRepository CarRepository

@{
    ViewData["Title"] = "Home Page";
}

<h3>Create a Car</h3>
<h4>Total cars count: @CarRepository.GetAll().Count</h4>
<h4>Total cars count: @ViewBag.CarsCount</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Subject</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kuzov, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.DropDownList("Kuzov",
                    Html.GetEnumSelectList<Kuzov>(),
                    "Выберите тип кузова", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Kuzov, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
